
// Без контейнера, поэтому будет отступ
$main-padding: 4%; // or 70px

// Основной синий
$main-blue: #4D8AE4;
$main-blue-8: rgba(77, 138, 228, 0.8);
$main-blue-5: rgba(77, 138, 228, 0.5);

// Основной красный
$main-red: #fc6c6c;
$main-red-8: rgba(252, 108, 108, 0.8);
$main-red-4: rgba(252, 108, 108, 0.4);

// Основной зеленый
$main-green: #7AE977;
$main-green-8: rgba(122, 233, 119, 0.8);
$main-green-4: rgba(122, 233, 119, 0.4);

// Тон белого (стандартный)
$white: #fff;

$main-radius: 12px;


