.interactive{
    display: flex;
    justify-content: center;

    width: 100%;

    margin-top: 70px;
}
.interative__btn{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    padding: 0 50px;

    svg {
        width: 200px;
        height: 200px;
        padding: 70px;
    }

    p {
        font-size: 26px;
        margin-top: 5px;
        text-align: center;
    }

    &:last-child{
        align-items: flex-start;
    }
}
.interative__btn--no{
    p {
        color: $main-red;
    }        

}
.interative__btn__icon--no{
    width: 200px;
    height: 200px;

    background-color: $main-red-8;
    border-radius: 50%;
    cursor: pointer;

    transition: all 0.3s;

    &:hover{
        background-color: $main-red;
        transform: scale(110%);
    }
}
.interative__card{
    width: 700px;
    height: 700px;

    border-radius: 50%;
    
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.3);
}
.interative__btn--yes{
    p {
        color: $main-green;
    }    
}

.interative__btn__icon--yes{
    width: 200px;
    height: 200px;

    background-color: $main-green-8;
    border-radius: 50%;
    cursor: pointer;

    transition: all 0.3s;

    &:hover{
        background-color: $main-green;
        transform: scale(110%);
    }
}

.interactive__card--word{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 68px;
    font-weight: bold;
    word-break: break-all;
    padding: 0 25px;
}

.interactive__card--wordTranslate{
    font-size: 16px;
    opacity: 0.5;
    text-align: center;
}
