.results{
    padding: 0 4%;
}

.table__row__results{
    width: 250px;
    border-radius: $main-radius;
    font-weight: 300;
}

.table__row__results--no{
    background-color: $main-red-4;
}

.table__row__results--yes{
    background-color: $main-green-4;
}


@media (max-width: 800px) {
    .table__row__results{
        width: 150px;
    }
}

@media (max-width: 550px) {
    .table__row__results{
       font-size: 0;
       width: 12px;
       min-width: 12px;
    }
    .table__row--word--result{
        display: none;
    }
}